$white_light: hsl(264, 100%, 99%);
$grey_light : hsl(244, 100%, 84%);
$dark_blue: hsl(236, 44%, 20%);

body {
    background-color: hsl(216deg, 12%, 8%) !important;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: $white_light;
    cursor: pointer;
}

button.active,
button:hover {
    color: $grey_light;
}

.greyLight {
    color: $grey_light;
}

/*** HEADER - NAV ***/
.containerLeftTop {
    background-color: hsl(246, 80%, 60%);
    color: $white_light;
    position: relative;
    z-index: 2;
    top: +10px;

}

.containerLeftBottom {
    background-color: $dark_blue;
    color: $grey_light;

}

/*** Categories ***/
.containerContent {
    background-color: $dark_blue;
    color: $white_light;
    position: relative;
    z-index: 2;
    top: -10px;
}

.categories {
    position: relative;
    top: +10px;
}


.containerIcon {
    height: 45px;

    img {
        display: block;
        margin: auto;
    }
}


.icon0 {
    background-color: hsl(15, 100%, 70%);
    background-image: url('./assets/icon-work.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.icon1 {
    background-color: hsl(195, 74%, 62%);
    background-image: url('./assets/icon-play.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.icon2 {
    background-color: hsl(348, 100%, 68%);
    background-image: url('./assets/icon-study.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.icon3 {
    background-color: hsl(145, 58%, 55%);
    background-image: url('./assets/icon-exercise.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.icon4 {
    background-color: hsl(263, 63%, 51%);
    background-image: url('./assets/icon-social.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.icon5 {
    background-color: hsl(43, 84%, 65%);
    background-image: url('./assets/icon-self-care.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}


@media screen and (min-width: 992px) {

    .containerLeftTop,
    .containerLeftBottom {
        height: 50%;
    }
}